* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body{
  margin: 10px;
  background-image: url('../images/pexels-lukas-kloeppel-466685.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: font-family: "Roboto", sans-serif;
  font-size: 25px;
  color:#070707;
  padding: 20px;
}
div{
  background-color: rgba(198,217, 236, 0.3);
}

.top_page{
  position: fixed;
  width: 95%;
  background: #22335A;
  border-radius: 10px;
  height: auto;
  margin-bottom: 10px;
  padding: 10px;
  z-index: 3;
}
.top_page h3{
  color: #81899B;
  margin: 5px;
  margin-bottom: 10px;
  height: 5%;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 600;
  padding-left: 15px;
  padding-top: 3px;
}
.top_page span{
  color: #95B2F4;
}

.content {
  margin-left: 2%;
  margin-top: 8%;
}

.left_col{
  float: left;
  position: fixed;
  border-radius: 10px;
  color: #070707;
  width: 20%;
  height: 90%;
  box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.25);
}
.panel div{
  border-radius: 10px;
  color: white;
  background:rgb(34, 51, 91, 0.6);
  margin: 20px;
  padding: 10px;
}
.image img{
  height:auto;
  width: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  border: 2px gray solid;
}

.info{
  font-size: 16;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 10px;
  padding: 10px;
  line-height: 1.6;
}


.progs{
  font-size: 16;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 10px;
  margin-bottom: 5px;
  padding: 10px;
}

.progs span{
  font-size: 22;
  margin-right: 10px;
  color: #95B2F4;
}

.progs hr{
  border-top: 1px solid #22335A;
}
.progs ul{
  column-count: 2
}
.certs{
  font-size: 22;
  line-height: 1.6;
  padding: 10px;

  vertical-align: middle;
}

.certs img{
  height:5%;
  width: auto;
}

.panel .certs .color_title{

  font-weight: bold;
  color: #95B2F4;
}

.mainpage{
  float: right;
  position: relative;
  margin-left: 30%;
  margin-right: 10%;
  width: 60%;
  height: auto;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.0);
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.course{
  text-decoration: underline;
}

.course_list_1 ul{
  line-height: 1.6;
  column-count: 2;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.course_list{
  padding:10px;

}

.profile, .education, .project, .skills{
  background: rgb(34, 51, 91, 0.8);
  box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.25);
  color: white;
  line-height: 1.6;
  margin: 70px;
  padding: 20px;
}

.profile h1{
  color: #95B2F4;

}
.education h1{
  color: #95B2F4;;
}
.project h1{
  color: #95B2F4;
}
.skills h1{
  color: #95B2F4;
}

.profile{
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 20px;
  border-radius: 10px;
  width: auto;
  padding-left: 20px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 15px;
  font-size: 18;
  line-height: 1.6;
}

.education{
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 20px;
  border-radius: 10px;
  width: auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 1px;
  padding-top: 1px;
  font-size: 18;
}

.project{
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 20px;
  border-radius: 10px;
  width: auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 1px;
  padding-top: 1px;
  font-size: 18;
}

.function{
  font-style: italic;
  padding-left: 60px;
}

.skills{
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 20px;
  border-radius: 10px;
  width: auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 1px;
  padding-top: 1px;
  font-size: 18;
}

.skills ul.course_list_1{
  line-height: 1.6;
  column-count: 2;
  padding: 10px;
  margin-bottom: 10px;
}

.section_header{
  font-weight: bold;
  color: #95B2F4;
  font-size: 22;
  margin: 30px;
}
