* {
  box-sizing: border-box;
  font-family:Poppins;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body{
background-image:url("../../images/vacat_images/manstandingonhill.jpg");
  background-repeat:no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: auto;
  Height: auto;
  color:rgb(251, 250, 250);
}
.navbr {
  background-color:rgb(103, 100, 102, 0.2);
	width:100%;
	height:auto;
	position:relative;
	left:0px;
	top:0px;
  padding:10px;
}
.navspan
{
  padding-left: 45%;
}
#tan {
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.0);
	color:rgb(251, 250, 250);
	width:auto;
	height:auto;
	position:fixed;
	left:auto;
	text-align:center;
	letter-spacing:2px;
}
a{
  color:rgb(251, 250, 250);
  text-decoration:none;
}

#adv, #cult, #lodg, #din, #abt, #cont {
  box-shadow:0px 4px 4px rgba(0, 0, 0, 0);
  opacity:1;
  width:auto;
  height:auto;
  position:relative;
  letter-spacing:2px;
  line-height:1.6;
  padding: 10px 10px 10px 10px;
  text-align:center;
  font-size:calc(.25em + 1vw);
}
#adv {
	top:4px;
}
#cult {
  padding-left:0;
	left:10px;
	top:4px;
}
#lodg {
  padding-left: 0;
	left:10px;
	top:4px;
}
#din {
  padding-left: 0;
  left:10px;
  top:4px;
}
#abt{
  padding-left: 0;
  left:10px;
  top:4px;
}
#cont{
  padding-left: 0;
  left:10px;
  top:4px;
}

#lodg:hover, #din:hover, #cult:hover, #adv:hover, #abt:hover, #btn:hover,
 #cont:hover
{
  background-color:rgba(64, 57, 58);
  color:white;
  border-radius: 5px;
  border-style: solid 1px;
}
#topimg{
  padding:0;
  width:100%;
  height:400px;
}
#inner_container
{
  width: auto;
  Height: auto;
}
#adventure{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
a{
  rgb(251, 250, 250);
  text-decoration:none;
}
a:hover{
    color:white;
}
h1{
  box-shadow:4px 2px 2px rgba(0, 0, 0, 0.25);
}
.everything{
  text-align:center;
  background-repeat:no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: auto;
  Height: auto;
  color:white;
}

.row{
display: flex;
padding: 20px;
text-align:left;
}

.column1{
  width:30%;
  height: 10%;
  font-size: 18px;
  margin-left: 20px;
  padding: 20px;
  background-color: white;
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.65);
  border-radius: 5px;
  background-color:rgba(0, 0, 0, 0.3);
}
.column2{
  width: 50%;
  height: 10%;
  font-size: 18px;
  margin-left: 20px;
  padding: 20px;
  background-color: white;
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.65);
  border-radius: 5px;
  background-color:rgba(0, 0, 0, 0.3);
}


footer{
  padding-top: 1%;
  height: 20%;
}
#int{
  color:blue;
}
#int:hover{
  color:blue;
  font-size: 16px;
}
