* {
  box-sizing: border-box;
  font-family:Poppins;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;

}

body{
background-image:url("../../images/vacat_images/mainhotel.jpg");
background-repeat:no-repeat;
background-size: cover;
background-attachment: fixed;
width: auto;
height: auto;
color:rgb(251, 250, 250);

}
.header{
  position:absolute;
  width:100%;
}
.navbr {
  background-color:grey;
	opacity:1;
	height:auto;
	position:absolute;
	left:0px;
	top:0px;
  color:white;
}
.navspan
{
  padding-left: 45%;
  padding-top: 5px;
  padding-bottom: 5px;
  width:100%;
  position: fixed;
  background-color:rgb(130,130,130,.5);
}
.center{
  margin-top: 5%;
}
#title {
  z-index: 1;
	opacity:1;
	width:15%;
	height:auto;
	position:fixed;
	left:auto;
	top:4px;
  padding-top: 0px;
	text-align:center;
  font-size:calc(.10em + 1vw);
	letter-spacing:0;
	line-height:1.6;
}

#adv, #cult, #lodg, #din, #abt, #cont{
  box-shadow:0px 4px 4px rgba(0, 0, 0, 0);
  color:rgba(70, 53, 53, 1);
  opacity:1;
  width:auto;
  height:auto;
  position:relative;
  padding: 10px 10px 10px 10px;
  text-align:center;
  font-size:calc(.10em + 1vw);
  letter-spacing:2px;
  line-height:1.6;
}

#lodg:hover, #din:hover, #cult:hover, #adv:hover, #abt:hover, #btn:hover,
 #cont:hover
{
  background-color:grey;
  color:white;
  border-radius: 5px;
  border-style: solid 1px;
}
#museum{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
a{
  color:white;
  text-decoration:none;
}
a:hover{
    color:white;
}
h1{

}
.center{
  text-align:center;
  font-size: 2.5vh;
}

.row{
display: flex;
padding: 20px;
}

.column1 , .column2{
  background-color:rgba(0, 0, 0, 0.45);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.65);
  font-size: 18px;
  margin-left: 20px;
  padding: 20px;
  border-radius: 5px
}
.column1{
  width:30%;
  height: 10%;
}
.column2{
  width: 40%;
  height: 30%;
  text-align:left;

}
footer{
  padding-top: 1%;
  height: 20%;
  font-size:12px;
}
